body{
	background-image: url("../images/green.jpg");
	background-size: cover;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
h1{
	color: #86b326;
	margin: 0 0 0 20px;
}
#banner{
	font-size: 30px;
	text-shadow: 2px 2px 1px #555;
	letter-spacing: 3px;
	font-family: Impact, Charcoal, sans-serif;
	background-image: url("../images/dark.jpg");
	padding: 10px;
}
#title-text{
	display: inline-block;
}
#clearAll{
	border: 1px solid #333;
	background-color: black;
	color: green;
	float:right;
}
.card{
	background-image: url("../images/white.jpg");
	text-shadow: 2px 2px 1px #aaa;
	max-width: 800px;
	border: 2px inset #AAA;
	margin: 40px;
	margin-left:50px;
	padding: 20px;
}
.note-field{
	display:none;
}
textarea{
	display: block;
}
p{
}